@model dynamic

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <title>Azure Logging Website</title>
</head>
<body>
<div>
    <h1>Azure Logging Website</h1>
    <p>That is all!</p>
</div>
</body>
</html>